<!doctype html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport"
          content = "width=device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible"
          content = "ie=edge">
    <title>My Fast Booking</title>
    <link rel = "stylesheet"
          type="text/css"
          href = "../public/basic.css">
<!--    <link rel = "stylesheet"-->
<!--          type="text/css"-->
<!--          href = "../public/wind.css">-->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="w-full h-screen bg-[#00215E] text-white">
        <div class="w-full bg-amber-400 flex items-center">
            <h1 class="text-4xl p-5 text-emerald-950 font-bold w-3/5">My Fast Booking</h1>
            <div class="my-2 w-2/5 flex justify-around">
                <a href = "#" class="text-emerald-700 text-xl px-5 py-2">HOME</a>
                <a href = "#" class="text-emerald-700 text-xl px-5 py-2">SUPPORT</a>
                <a href = "#" class="text-emerald-700 text-xl px-5 py-2">COMPLAINT</a>
                <a href = "#" class="text-amber-400 text-xl bg-emerald-600 px-5 py-2 rounded-xl hover:bg-emerald-900">LOGIN</a>
            </div>
        </div>
    </main>
</body>
</html>